{% extends 'base.html' %}
{% block content%}
<!DOCTYPE html>
 <html>
<body>
<div class="container">
    <form method='POST'>
<div class="wrap">
  <div class="mat-div">
    <label for="first-name" class="mat-label">First Name</label>
    <input type="text" class="mat-input" id="first-name">
  </div>
  
    <div class="mat-div">
    <label for="first-name" class="mat-label">Last Name</label>
    <input type="text" class="mat-input" id="last-name">
  </div>

    <div class="mat-div">
    <label for="address" class="mat-label">Address</label>
    <input type="text" class="mat-input" id="address">
  </div>
   
  <button class="btn waves-effect waves-light" type="submit" >Submit
    <i class="material-icons right">send</i>
  </button>
</div>
</div>
</form>
</body>
</html>
{% endblock %}