{% extends 'base.html' %}
{% block content%}
{{ SOME_NAME }}
<html>
    <h5>I am now using html.</h5>
    <table>
  <tr>
    <th>Name</th>
    <th>Age</th>

  </tr>
  <tr>
    <td>Alfreds </td>
    <td>20</td>

  </tr>
  <tr>
    <td>Jim</td>
    <td>12</td>

  </tr>
  <tr>
    <td>Ernest</td>
    <td>22</td>
  </tr>
{% for person in PEOPLE %}
<tr>
    <td>{{person.name}}</td>
    <td>{{person.age}}</td>

  </tr>


{% endfor %}

</table>
</html>
{% endblock %}