{% extends 'base.html' %}
{% block content%}
<!DOCTYPE html>
 <html>
<body>
    <form class="col s12" method="GET">
        <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text" name="search" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <button class="btn waves-effect waves-light" type="submit" >Submit
            <i class="material-icons right">send</i>
        </button>
    </div>
  </form>




  <form class="col s12" method="POST">
<div class="column">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text"name="name" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text"name="major" class="validate">
          <label for="last_name">Major</label>
        </div>
        </div>
     <button class="btn waves-effect waves-light" type="submit" >Submit
            <i class="material-icons right">send</i>
        </button>

         </form>
  </body>
  {% endblock %}