{% extends 'base.html' %}

{% block content %}


<div class='container'>

    <div class='row divider'></div>

    <div class='row'>
    <form method='POST'>

        <div class="input-field col s12 m4 l4">
          <input placeholder="Placeholder" id="first_name" name='name' type="text" class="validate">
          <label for="first_name">Name</label>
        </div>

        <div class="input-field col s12 m4 l4">
          <input id="last_name" type="text" name='surname' class="validate">
          <label for="last_name">Surname</label>
        </div>

        <div class='col s12 m4 14'>
            <button class="btn waves-effect waves-light" type="submit">Create
            <i class="material-icons right">create</i>
            </button>
        </div>

    </form>
    </div>
    <div class='row'></div>
    <div class='row divider'></div>
</div>


 <table>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Delete</th>
    </tr>
{% for p in PEOPLE %}
<tr>
    <td>{{ p.name }}</td>
    <td>{{ p.surname }}</td>
    <td><form action="/delete/{{ p.id}}">
        <button  class="btn waves-effect waves-light" type="submit">Delete

            </button></form></td>

  </tr>
{% endfor %}

{% endblock %}
